[2016-04-28 20:25] sdalu opened #63 "Build error RT-WVSHARE_BLE400"
Compiling with ChibiOS master and ChibiOS-Contrib master

[code]

[2016-04-28 21:02] sdalu commented on #63
Fix in #64

[2016-04-28 21:36] #63 closed

[2016-05-29 14:14] russss opened #79 "[onewire] Strange uint_fast8_t issue"
I'm using the onewire driver on an STM32F042F6P6 with ARM-GCC 4.9.3. I was having issues with onewireReset always returning false.

The [initial check](https://github.com/ChibiOS/ChibiOS-Contrib/blob/master/os/hal/src/hal_onewire.c#L650) that the bus was high was always failing, even though it was definitely high (verified with multimeter) and there was no bus activity. If I tried to check the sta

[2016-05-30 06:49] barthess commented on #79
Strange behaviour. This "uint_fast8_t" looks strange and unusual. I chose it because written 1-wire driver with 8-bit MCUs in mind but all users I know use it on STM32. Now I think to change it to "unsigned int".

[2016-05-30 21:12] barthess commented on #79
I updated driver. Could you test it?

[2016-05-31 08:57] russss commented on #79
Unfortunately even after fixing this particular issue there's something else wrong, and I'm probably going to need to get hold of a logic analyzer to look into it further.

[2016-06-25 20:47] sdalu opened #83 "QEI on STM32"
QEI define a callback type, but STM32 implementation doesn't make use of it.
Would it be possible to have a callback triggered when values change?

[2016-06-25 23:11] sdalu opened #84 "qeiUpdate, unexepcted value due to counter wrapping"
In the QEI driver, the qeiUpdate function returns the counter delta from the last reading, which when the counter is wrapping result in a huge delta.

| prev count | current count | delta | expected delta |
| --- | --- | --- | --- |
| 0 | 65535 | 65535 | -1 |
| 65535 | 0 | -65535 | +1 |

[2016-06-27 09:03] barthess commented on #84
I am not an author of QEI driver but I can review your pull request and merge it.

[2016-06-28 16:25] sdalu commented on #84
The fix looks like reverting commit https://github.com/ChibiOS/ChibiOS-Contrib/commit/4a36fb944b854eb91e74ce18a7b2cb0cedf7d0d1 . Initial code was relying on the wraping of the int16_t when substracting two uint16_t to provide the correct value. Which still open a can of worm:
- overflow of signed int is undefined behaviour in C/C++
- writting new driver impose to chose identical size for qeidelta_

[2016-07-26 05:26] Nomados opened #93 "USB HID demo or testhal project"
Hello,

Do you plan to add some testhal project for USB HID communication (i.e. for stm32)? Maybe a simple python program for PC side would be also very useful.

[2016-07-27 16:41] barthess commented on #93
Currently we have no such plans but patches are welcome.

[2017-01-04 09:54] fpoussin commented on #84
I merged a pull request that reverts the said commit. (among other things)

[2017-02-02 22:05] romainreignier opened #111 "ChibiOS RT needed"
Hello,
I am using the HAL of ChibiOS but not the RT part because I do not need a RTOS for my projet.
I am using your QEI driver. It works nice but I had to move some:

[code]

after the line checking if the module is used. Ex:

[code]

The files I had to modify:

- `os/hal/include/hal_eeprom.h`
- `os/hal/include/hal_timcap.h`
- `os/hal/ports/STM32/LLD/DMA2Dv1/hal_stm32_dma2d.c`
- `os/hal/ports/STM

[2017-02-04 09:07] barthess commented on #111
I do not use that drivers and do not know how important RT for them (suppose not important) but I am not sure. Sad but contributors of that drivers looks vanished. We can just move #include "ch.h" into #if statement as you propose. This is safer way. Or we can try to delete this include statement at all and than check buildability of the affected application in testhal directory. This is more prop

[2017-02-06 02:20] fpoussin commented on #111
Hey,
I'll have a look at the timcap and eeprom drivers which I contributed a while ago.

[2017-02-06 12:34] fpoussin commented on #111
Fixed timcap and eeprom in commit 11e949d.

[2017-02-06 13:06] romainreignier commented on #111
@fpoussin Thanks!

[2017-03-01 18:52] #111 closed

[2017-03-30 13:21] lleoha opened #114 "USB host support for stm32f105/107 (FS only)"
It's not a bug, it's a feature request to add usb host support for stm32f1xx (stm32f105/107 supports USB OTG FS)

[2017-06-04 16:37] dismirlian commented on #114
Hi, the USBHv1 driver should support the STM32F105/107; as far I can tell, they have the same OTG core. I can't test the support for these MCUs because I don't have any hardware available, but I have already tested the driver with the F207 and F411. The F105/F107 support the OTG1 (OTG_FS), and have 1280 byte buffers and 8 host channels, just as the F207 and F411 OTG_FS implementation. Watch the pi

[2017-07-04 00:19] apmorton opened #121 "USB Host Driver Status / Progress"
Hi All,

First thing, I want to thank @dismirlian for his work on the USB Host driver thus far - it is really a great improvement over other options in this space for STM32, and I know it is no small task to write such a complex piece of code.

I have been experimenting with the latest revisions of the driver on here and it looks promising - I am hoping to use it as a replacement to the HCC USB Ho

[2017-07-04 15:41] dismirlian commented on #121
Hi Austin,

Thanks for your feedback! I really appreciate the input from someone who really uses the driver.

You make a good point regarding out-of-tree class drivers. I had never thought of this use case, and it will certainly add flexibility to the driver. I had considered a dynamic registration scheme for class drivers, but I ruled it out because it goes against the design philosophy of ChibiO

[2017-07-09 21:59] dismirlian commented on #121
Hi,

It seems that the support for out-of-tree drivers was really a major issue... Someone else contacted me with the same request.

Please check https://github.com/dismirlian/ChibiOS-Contrib/tree/usbh_devel.

I've commited some changes to allow for out-of-tree class drivers. The code may not be definitive; input and suggestions are welcome. The changes are:

- New #define HAL_USBH_USE_ADDITIONAL_

[2017-09-06 12:44] m1keph0to opened #124 "mx2board.py issue with STM32F7XX .ioc file"
Thanks for the tool, I picked it up as a part of the ChibiOS distribution then found the original on GitHub.

In the case of using STM32F7XX.ioc file

[code]

The error is caused by the fact that the .ioc file contains  lines like

`
SH.S_TIM2_CH1_ETR.0=TIM2_CH1,Input_Capture1_from_TI1
`

The regular expression at line 271 matches the pattern terminating _ETR rather than a digit.
`
            def

[2017-09-06 13:28] fpoussin commented on #124
Actually it should even be  r"TIM\d+_CH\d$" because we have more than 9 timers, thanks for catching this!

[2017-09-06 13:31] fpoussin commented on #124
Pushed a fix.

[2017-09-06 13:31] #124 closed

[2017-09-26 17:17] funnydog opened #127 "Tools running on the host system"
Hello,

I'm porting ChibiOS to the Teensy 3.5 board and while it's nowhere near production quality, I'm at a point that the GPIOs and all the 4 UARTs work correctly. Also all the standard tests run successfully.

However I'm stuck with a problem relevant to the PLL configuration: every information I need to generate the PLL divisor and multiplier is known at compile time, yet I'm still computing t

[2017-09-27 18:59] barthess commented on #127
It's better to ask Giovanni on official forum. As I know he plans to introduce some kind of "clock driver".

[2017-09-29 12:27] funnydog commented on #127
ok thank you

[2017-09-29 12:27] #127 closed

[2017-10-25 08:01] m1keph0to opened #132 "STM32F7 FMC data bus ports alternate function issue"
When I used mx2board.py to convert a .ioc file from an STM32F7 with an FMC memory controller peripheral, I found
1. that the FMC was missing.
2. Then I discovered that the STM32F769(G-I)T.xml file contains records for e.g.
FMC_A4
and
FMC_D4
for pin PE7

but the .ioc file calls the pin
FMC_D4_A4

I changed the code to match for FMC and modify the pin names in the Python code for the FMC
so that FMC

[2017-11-23 05:05] dogtopus opened #134 "[Enhancement] USBH driver with external USB host controller"
I am planning to implement a driver of MAX3421E for ChibiOS. After doing some research, I think the best way to do it is to implement a complex driver that sits on top of the SPI driver. I would try to avoid writing a LLD driver for it since the LLD looks more like a place for "MCU-specific" code and the MAX3421E does not depend on the MCU. However, I also found that the USBH driver calls `usbh_ll

[2017-11-23 17:40] barthess commented on #134
You can take a look at MMC over SPI and check how it coexists with SDIO driver. I'm not sure about compatibility of current USBH and MAX3421. May be it will require additional abstraction layer with reworking of USBH.

[2017-11-24 11:59] dismirlian commented on #134
You are right that the external controller and the MCU's OTG core won't be able to coexist without reworking the USBH driver. I think the steps towards the implementation would be:
- Avoid direct calls of the `usbh_lld*` functions, and replace them with calls through a VMT.
- Separate the `*_ll_data` structure members (see hal_usbh_lld.h) from the high-level USBH driver structures (for instance, `

[2017-11-24 12:01] elagil opened #135 "FMC SDRAM driver compatibility for STM32F7"
Hello,

I am using the HAL FSMC driver for SDRAM on STM32F746 without any issues. I assume that STM32F4 and STM32F7 share the same FMC hardware. For making it compile, I had to add some switches to the source files.

Normally, there is this statement here to allow compilation only for certain processors:

[code]
Please change that to something like this or similar:

[code]

for use with STM32F7 fa

[2017-11-24 19:34] barthess commented on #135
Please send pull request. I'll merge it.

[2017-12-07 22:29] dogtopus commented on #134
@dismirlian Do you have any plan to do the split? I would rather not to do that for now since I don't have a STM32 board for test and do it blindly may cause serious regressions (especially since I am not 100% familiar with the USBH stack and STM32)

[2017-12-11 17:25] dismirlian commented on #134
Hi @dogtopus, currently I don't have much time to work on this. Probably, I'll be busy until February to do such "large" modifications to the driver. I'm sorry....

However, I *could* test your modifications on a STM32F4Discovery board.

[2017-12-21 06:35] dogtopus commented on #134
After reading through the USBH driver and other ChibiOS/HAL drivers that fits a similar model as the internal/external USBH controller (e.g. sdc and mmc_spi), I have 2 ideas on how to implement the split:

1. Create an interface for USBH drivers, move common code (e.g. device enumeration, descriptor parser, class driver loader, etc.) to a new file and write different drivers for internal and exter

[2017-12-31 07:54] apmorton opened #138 "hal_ee24xx: potential infinite loop caused by __fitted_write when eeprom_write returns anything other than MSG_OK"
in the case where `eeprom_write` fails repeatedly `__fitted_write` will never increment the value given to its `written` parameter.
https://github.com/ChibiOS/ChibiOS-Contrib/blob/9d74dd2661b80a5ae8598591f0251b197cc51756/os/hal/src/hal_ee24xx.c#L207-L212

which in turn causes an infinite loop in `write` as shown below
https://github.com/ChibiOS/ChibiOS-Contrib/blob/9d74dd2661b80a5ae8598591f0251b19

[2018-02-05 13:58] RoccoMarco opened #142 "Duplicated launch configuration under TIVA demos"
Hello,
Starting from ChibiOS 17.6.4 and ChibiOS 18.2.0 (current trunk) OpenOCD launch configuration will be placed under ($CHIBIOS)/tools/eclipse/debug/

This means that to see Launch configuration under the menu external tools of Eclipse the "ChibiOS Whole Tree" project shall be imported into workspace and be opened.

As each TIVA demo has a copy of the "OpenOCD on ICDI (prompts for .cfg target c

[2018-02-26 20:06] #142 closed

[2018-03-08 16:21] fpoussin commented on #138
Thanks for reporting this issue.
Since you found out about it, do you have any fixes to merge?

[2018-03-16 21:46] faisal-shah opened #151 "Platform.mk files should use their own SRC/INC variables"
Now that ALLCSRC and ALLINC are defined, the platform.mk files should not append to PLATFORMSRC/INC. They should either create a new variable, or redefine PLATFORMSRC/INC, and then add the filenames to ALLCSRC, and ALLINC.

[2018-03-20 15:09] #138 closed

[2018-03-25 16:48] magicrub opened #154 "add support for STM32F413xx"
I see that you've recently updated the STM32 libraries to include the new STm32F413xx, but there isn't a ChibiOS port yet to utilize it.

[2018-04-09 15:01] elagil opened #155 "Add support for ChibiOS 18.2"
Hello!

I am porting my application from Chibios 17 to 18 and I use the FSMC driver.

Problem:
The new build system catches ALLSRC and ALLINC paths for compilation. The "platform.mk" file of the contrib branch first includes the original "platform.mk" and then adds its own sources to

PLATFORMSRC
PLATFORMINC

However, these are not used by the makefile anymore.

In my instance, I could fix it by c

[2018-04-10 14:43] elagil commented on #155
I see that this issue was already raised here #151. Sorry for this duplicate.

[2018-04-10 14:44] #135 closed

[2018-05-17 01:39] fpoussin commented on #155
Closing this one

[2018-05-17 01:39] #155 closed

[2018-06-10 22:27] sabdulqadir opened #160 "'const' qualifier needed for NANDConfig in community/os/hal/src/hal_nand.c"
Hi IMHO,
Within the functions such as nandReadPageWhole(), nandp->config is defined as a constant pointer and would need the same to be handled correctly.

Code:
NANDConfig *cfg = nandp->config;

Should change to :
const NANDConfig *cfg = nandp->config;

in 7 functions in this file.

Thanks,
Abdulqadir Shabbir

[2018-06-18 11:57] vrepetenko opened #161 "[CRC] Max size bound to max single DMA transfer"
Hi,

there is a problem with CRC Driver (community) with CRC_USE_DMA=TRUE,
driver does not work correctly with buffer more 256k due to DMA limitation.
ChibiOS version - 17.6.3

[2018-06-18 11:59] vrepetenko opened #162 "QEI driver warnings"
Please fix:
ChibiOS version - 17.6.3
community/os/hal/include/hal_qei.h
[code]

[2018-06-19 08:58] fpoussin commented on #162
Can you submit a pull request since you already made the changes?
Thanks

[2018-06-19 09:30] fpoussin commented on #161
Seems like we need update the buffer pointer and restart a transfer in the DMA interrupt handler

https://github.com/ChibiOS/ChibiOS-Contrib/blob/ae7a4d40b84d8afc999691577210696f16e682f6/os/hal/ports/STM32/LLD/CRCv1/hal_crc_lld.c#L110

[2018-06-19 13:53] vrepetenko commented on #162
Ok! I will submit it.

[2018-06-23 14:07] #162 closed

[2018-07-12 12:19] lechndo opened #164 "STM32 CRCv1 calculates wrong CRC for large data sets when using DMA"
This caused by the fact that the STM32 DMAs data count register is only 16 bits wide.
Therefore the DMA can only handle max. 65535 bytes per transfer.
To be able to handle bigger data sets the CRC low level driver has to split calculations for data sets bigger than 0xFFFF.

Please see attached my suggestion to solve this issue.

[0001-Fix-STM32-LLD-CRCv1-large-data-bug-in-DMA-mode.zip](https://git

[2018-07-13 09:19] #161 closed

[2018-09-27 06:28] #151 closed

[2018-12-07 13:15] aicastell opened #174 "Warning compiling ChibiOS-Contrib chibios-17.6.x"
Hello.

Im working on a project with Chibios 18.2.x (origin/stable_18.2.x) and Chibios-Contrib (origin/chibios-17.6.x). The Makefile of my project includes theses .mk files:

[code]

I'm getting some warnings when compiling ChibiOS-Contrib/os/hal/src/hal_usb_hid.c file:

[code]

Are these warnings normal? Can be fixed in some way?

Thanks in advance!

[2018-12-23 01:52] fpoussin commented on #174
Hi, the current master branch is compatible with 18.2.x so this is normal.

[2019-01-09 01:53] #174 closed

[2019-03-11 18:08] dismirlian opened #188 "USB Host MSD returns invalid code"
Hi all,

I think a bug was introduced in commit https://github.com/ChibiOS/ChibiOS-Contrib/commit/f014b8da68f162bb06ca88acf0085382a76d8dcd. I'm not 100% sure, and would appreciate some input from the author @josesimoes. Originally, `_scsi_perform_transaction` returned `MSD_RESULT_FAILED` when `transaction->csw_status` was `CSW_STATUS_FAILED`, after performing a SCSI Request Sense. The commit intro

[2019-03-11 18:30] josesimoes commented on #188
Hi @dismirlian ,

I've added that fix to overcome an intermittent issue I was having when the transaction was failing _AND_ the subsequent scsi_requestsense was true.
With the original code, on transaction FAILED and following requestsense OK, the return always ended up being MSD_RESULT_FAILED which I don't think is correct.

As it is now, I stopped experiencing that issue. Maybe my fix wasn't the

[2019-03-11 19:34] fpoussin commented on #188
Could you build a test case for this to verify if it's an actual bug or more of a workaround?
Also, it's always good to add comments in the code to get some context.

[2019-03-11 20:38] josesimoes commented on #188
Where should I add that test case?

Also I have to make a forward statement saying that I'm not an expert on what concerns USB low level protocol so I would rather have someone with knowhow on this to jump in the conversation...

[2019-03-11 21:49] dismirlian commented on #188
Hi @josesimoes, actually I wrote this code ~4 years ago, and I don't remember the details, but:
- CSW_STATUS_FAILED indicates that the operation has failed, so the Host should do some recovery.
- All of the possible failure cases are covered in https://usb.org/sites/default/files/usbmassbulk_10.pdf, section 6.5 ("Host Error Handling") through 6.7 ("The Thirteen Cases").
- I decided to do a very si

[2019-03-11 23:14] fpoussin commented on #188
This indeed should follow the USB MSD spec as close as possible instead of hiding errors from the applications.
Failure when talking to peripherals is normal and should be taken care of.

@josesimoes anywhere in the testhal/demo code is fine as long as it reproduces the error.

[2019-03-11 23:27] josesimoes commented on #188
@dismirilian and you did a great job, btw!

The problem was in the initial steps of the driver state machine, before the mount. I can't say exactly what was the root cause because it was happening randomly.

If you guys are not comfortable with this, by all means, do revert the change!

[2019-03-12 13:03] dismirlian commented on #188
Hi @josesimoes, I'll see if I can implement the "thirteen cases", so we can have proper error handling. I think the original code is too "pessimistic".

D.

[2019-03-26 09:39] fpoussin commented on #188
@dismirlian did you have any time to look into it?

[2019-09-16 15:54] LostQuasar opened #195 "add support for STM32WB"
is this possible?
id really like to use this mcu with ChibiOS

[2019-10-23 09:15] NickNifontov opened #202 "COMPv1 and stm32L031"
Hi, i need a help of ChibiOS's Contrib community.

I am newbie in ChibiOS architectory. So faced with promblem when adopting COMPv1 to stm32L031 (M0).

In stm32l031 (Mo) Comparator uses interrupt - ADC1_COMP_IRQHandler same that a ADC.

But in COMPv1 - STM32_COMP_1_2_3_IRQ_PRIORITY (COMP_1) and and STM32_COMP_1_2_3_IRQ_PRIORITY (COMP_2).

As i understand ChibiOS HAL use ADC1_COMP_IRQHandler for AD

[2019-10-23 12:42] fpoussin commented on #202
Hi,
STM32L0s are no supported by the current driver, I'll make some changes when I have time.

[2019-10-23 12:49] #132 closed

[2019-10-23 12:49] #121 closed

[2019-10-23 12:50] #84 closed

[2019-10-23 12:50] #93 closed

[2019-10-23 12:51] #114 closed

[2019-10-23 12:53] #154 closed

[2019-10-23 12:56] #160 closed

[2019-10-23 13:48] NickNifontov commented on #202
My regards. It will be awesome.

I can perform all tests at stm32l031f6
Thanks

[2019-10-29 12:48] fpoussin commented on #202
I've updated the driver, give it a try.

[2019-10-31 10:28] fpoussin commented on #202
@NickNifontov any update?

[2019-10-31 10:46] NickNifontov commented on #202
I'm on a business trip now. On Saturday I will check everything. thank

[2019-11-04 09:38] fpoussin commented on #202
@NickNifontov did you get to try?

[2019-11-04 09:40] NickNifontov commented on #202
all is Work !!!
thanks

[2019-11-04 11:22] #202 closed

[2020-01-06 15:40] elagil opened #210 "SDRAM start leads to panic (SV4)"
The current version of SDRAM drivers breaks execution when calling `sdramStart()` because of nested calls to `osalSysLock()`. After `sdram_lld_start() -> sdram_lld_init_sequence()`, the thread is put to sleep with `osalThreadSleepMilliseconds()`, which also contains a `osalSysLock()` statement, leading to the SV4 panic.

I suggest to remove the lock statements from `sdramStart()` to restore functi

[2020-01-06 17:00] fpoussin commented on #210
Hi,

Thanks for finding this bug.
osalThreadSleepMilliseconds could be replaced by **osalSysPolledDelayX**.

The start/stop function locks are needed for driver state consistency.

[2020-01-07 08:33] elagil commented on #210
Good to know, I now replaced the delay with and do some testing.

`osalSysPolledDelayX(TIME_US2I(100))`

[2020-01-07 11:56] fpoussin commented on #210
Feel free to open a pull request once testing is done

[2020-01-09 10:23] #210 closed

[2020-03-24 14:18] pierstitus opened #213 "ChibiOS 19.1.x and 20.3.x branches"
Add branches for ChibiOS 19.1.x and 20.3.x

The current master seems to work with 19.1.x, and the commit messages indicate that too, but it would be much clearer to with the proper branch name.

For 20.3.x some changes to the makefiles and config files must be made. Apart from that at least the USB_MSD driver seems to work.

[2020-03-24 14:37] fpoussin commented on #213
Hello,

Current master is for 19.1.x already.
It will move to its own branch like previous ones, and master will be updated for 20.3.x

[2020-04-08 21:06] #213 closed

[2020-10-02 22:50] abusous2000 opened #224 "I get chSysHalt("SV#6") while running ChibiOS-Contrib-RT-STM32F407-DISCOVERY-RTT+SystemView Example"
Hi guys

I decided to evaluate **Segger J-Link,** and tested the example in the [ChibiOS-Contrib section](https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x/demos/STM32/RT-STM32F407-DISCOVERY-RTT%2BSystemView)

However, when I run it in the debugger; it is as if ChibiOS thinks it is running in a **thread contexts** it freezes at chSysHalt("SV#6")

Clearly I can see in the debugger that

[2020-10-03 03:18] abusous2000 commented on #224
BTW,

Once I changed these macros in file **SEGGER_SYSVIEW_ChibiOS.h** to the following, it did work well with no exceptions. You will find in bold what I have changed.
[code]

the sad thing that SystemView now reports: **Could not find RTT Control Block.Timeout: 20000 ms** which isn't your problem.
thx

[2020-10-24 11:56] SmileYzn opened #225 "Add SN32F248B Support"
Here is the details of this MCU: http://www.sonix.com.tw/article-en-4336-30356

Thanks for help!

[2020-11-24 01:38] sabdulqadir opened #227 "Bug in hal_fsmc.h"
First of all,
Thanks to @barthess, @fpoussin, and everyone else who contributed to providing NAND flash driver.
I recently tried moving from 18.2.0 to 20.3.2 and had following issues:

1. For ChibiOS-Contrib/os/hal/include/hal_fsmc.h:37 => needs to include stm32f7x targets

2. Also line324 on the same file has a typo "STM32_NAND_USE_NAND1" instead of "STM32_NAND_USE_NAND2"

3. Should dmaStreamAllo

[2020-12-06 02:18] fpoussin commented on #227
Hi @sabdulqadir, feel free to send in a pull request, that would help us.
Thanks!

[2020-12-10 14:50] elfmimi opened #237 "not NUC123SD4AN0 but NUC123"
It should be os/hal/ports/NUMICRO/NUC123/platform.mk
instead of  os/hal/ports/NUMICRO/NUC123SD4AN0/platform.mk .
and so on.

[2020-12-11 02:59] alexclewontin commented on #237
I agree with this, with the caveat that in the linker scripts we should be more specific (i.e. a NUC123xD4xx0.ld for the 68k/20k model and a NUC123xC2xx1.ld for the 36k/12k model)

[2020-12-11 12:03] fpoussin commented on #237
Feel free to open a pull request

[2020-12-14 09:08] #237 closed, assigned to nobody

[2020-12-31 17:26] alexclewontin opened #250 "[NUC123] Reported USB intermittent enumeration failure"
@fishman I don't have any code to open a PR for your reported intermittent detection failure yet, so we can use this issue for discussion.

I still cannot reproduce it. When you experience this failure, how much traffic is being routed through the hub? Is the keyboard the only device, or are there others? When the keyboard failure occurs, do other devices passing through the hub continue to functi

[2021-01-04 08:56] elfmimi opened #252 "Question: How should peripheral symbols numbered?"
Related to https://github.com/ChibiOS/ChibiOS-Contrib/pull/235.
I would like these numbered in straight forward way. What does the design guide say?
@fpoussin @alexclewontin
[code]
edit: and why \_GLOBAL\_ ?

[2021-01-04 20:32] alexclewontin commented on #252
I have no idea what the official guidance on this is, but in the serial driver I mapped SD0 -> UART0 and SD1 -> UART1, as mapping SD1 -> UART0 and SD2 -> UART1 seemed way too confusing. To try to respect the convention of PERIPHERAL_DRIVER1 being the "main" or "default" driver object, I set SD1 as active by default, and SD0 as inactive by default, although this can of course be configured using de

[2021-01-05 06:25] Codetector1374 commented on #252
I also used 1 for my LPC ports. Since I see the most of the offically supported STM32 drivers all seems to start from 1?

[2021-01-05 06:26] Codetector1374 commented on #225
Hi, do you have a dev board / or some way that I can obtain a chip so I can do the port? I don't really want to port without a good testing platform.

[2021-01-05 09:28] elfmimi commented on #252
Thanks you two for your response.

Let me see... , as of LPC, UART and many of peripherals are unnumberd. and you assigned number 1 for them. for ex. UARTD1. maybe this is okay.
but it looks you assigned SPID1 to LPC_SSP1. and support for LPC_SSP0 is yet to come.
what is your plan for LPC_SSP0 ? SPID0 or SPID2 ?

Well, I made up my mind to use straight forward I2Cn to I2CDn mapping.
I believe user

[2021-01-05 14:58] elfmimi commented on #252
I'm closing this.

[2021-01-05 14:58] #252 closed, assigned to nobody

[2021-01-07 11:58] SmileYzn commented on #225
I have a Motospeed CK62 keyboard, i did not know if can use it

[2021-01-08 16:45] Codetector1374 commented on #225
I can't see where I can source the Chip directly (So I can design a prototype dev board or something). But I don't have such a keyboard that uses this chip. Although inconvenient a keyboard is a valid board to test ChibiOS port on. I can help with a port if I can get my hand on something that uses this chip. (Or where to source such a chip)

[2021-01-15 22:24] troyerta commented on #224
I can confirm this workaround seems to fix the issue from the state checker's perspective. The JLinkRTTClient still works fine, but SystemView reports "ERROR: Could not find SystemView Buffer". No idea why this context check would corrupt it, but I'll try pointing to it directly to see how SystemView responds.

[2021-01-21 18:49] ryanm101 opened #254 "[Feature Request] Support for Raspberry Pi Pico"
https://www.raspberrypi.org/blog/raspberry-pi-silicon-pico-now-on-sale/

Support here for this is a pre-req for QMK (https://github.com/qmk/qmk_firmware/issues/11649)

[2021-01-25 14:32] jindaxia opened #255 "[Feature Request] Support for NUC121"
http://www.nuvoton.com.cn/products/microcontrollers/arm-cortex-m0-mcus/nuc121-125-series/
and datasheet
https://datasheetspdf.com/pdf/1134277/nuvoton/NUC121/1

[2021-01-29 10:35] elfmimi commented on #255
NUC120 NUC121 NUC122 NUC123 NUC125 NUC126 and NUC140 NUC220 NUC240 and more... these are all close siblings with USB support. I'd like to see support for them all in the future.

[2021-02-05 14:02] elfmimi commented on #255
Here is my progress so far.
https://docs.google.com/spreadsheets/d/1X-sQdVe6JJeprrTbHXPAz0ckdHqr3YHeE0xE8iY3nFo
I suppose LLD of SPI for NUC121/NUC125/NUC126 is likely get named SPIv2 .

[2021-02-12 10:06] fpoussin commented on #188
Any update?

[2021-02-14 08:05] pierstitus opened #260 "[STM32] use DMA in USB host driver"
For performance it would be good to use DMA in the USB host driver.

Currently the STM USB host library doesn't support hubs, and the ChibiOS-Contrib USB host driver doesn't use DMA, so it would be very valuable to have DMA in here, so one doesn't have to choose between performance and hub support.

[2021-02-14 11:59] fpoussin commented on #188
closing this as it's not present in the code anymore

[2021-02-14 11:59] #188 closed

[2021-02-14 12:12] fpoussin commented on #224
Closing this as the fix is merged

[2021-02-14 12:12] #224 closed, assigned to nobody

[2021-02-16 23:00] dismirlian commented on #260
Hi @pierstitus, just to note that the current USB Host stack doesn't use DMA because the full speed OTG module in the STM32 doesn't have DMA support. So, one driver fits all...

Adding DMA would be great!

Diego.

[2021-03-17 03:23] tianhuanz opened #267 "usb host irq handler STM32_OTG_FS_HANDLER should be STM32_OTG1_HANDLER"
https://github.com/ChibiOS/ChibiOS-Contrib/blob/ba33139c0c71622d872dc04f4c37047ba059b673/os/hal/ports/STM32/LLD/USBHv1/hal_usbh_lld.c#L1422
#if STM32_USBH_USE_OTG1
#ifdef STM32_OTG1_HANDLER
OSAL_IRQ_HANDLER(STM32_OTG1_HANDLER) {
#elif defined(STM32_OTG_FS_HANDLER)
OSAL_IRQ_HANDLER(STM32_OTG_FS_HANDLER) {
#else
#error "USBH_HANDLER undefined"
#endif
	OSAL_IRQ_PROLOGUE();
	osalSysLockFromISR();
	usb

[2021-03-21 05:40] elfmimi commented on #255
Here's an experimental support for NUC125 and NUC121 https://github.com/elfmimi/ChibiOS-Contrib/tree/nuc125-hacky .
This is an attempt to find out how different those are from NUC123.

[2021-03-22 15:45] noether opened #269 "Radio test NRF52 does not work?"
Hi,

We have recently forked your repo to add support to the Decawave DWM1001 (it has one embedded nRF52832) for a student's project.

So far, all the tests work with ChibiOS. However, I have spent the last couple of days trying to make the radio test (https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x/testhal/NRF52/NRF52832/RADIO-ESB ) work.

I flashed the binary from that main (the o

[2021-03-30 14:13] noether commented on #269
Solved. I will close the issue. The high freq. clock was not configured correctly (not initiated) on my board.

Maybe the code should check or warn whether the high freq. clock is running.

The documentation of the microcontroller (Radio section) does not say anywhere about any high freq clock. You can find such an information when you read the Clock section, so it is hidden.

Besides, your port w

[2021-03-30 14:13] #269 closed, assigned to nobody

[2021-04-20 21:42] stapelberg commented on #254
Just in case anyone finds this issue and not the other forum thread: support for the Raspberry Pi Pico seems to be added to ChibiOS itself (not ChibiOS-Contrib). See https://forum.chibios.org/viewtopic.php?f=3&t=5800

[2021-06-26 16:34] jazlee commented on #255
any update on this?

[2021-06-26 21:42] elfmimi commented on #255
No update. try it as-is. and let me know what is your needs. what is your expectations.

[2021-06-28 10:36] robin-jones commented on #254
If someone can update the mirror maintenance script for stable_21.6.x, I believe this board is now supported... @fpoussin?

[2021-07-31 09:15] GrzegorzZajac000 commented on #254
Any news on support for rpi Pico?

[2021-08-19 22:06] #134 closed

[2021-09-17 23:34] fpoussin commented on #254
https://github.com/ChibiOS/ChibiOS/tree/master/demos/RP/RT-RP2040-PICO
Closing this as it's in the work

[2021-09-17 23:34] #254 closed, assigned to nobody

[2021-11-17 13:12] dexter93 commented on #225
Hi, sorry for the bump. We use these chips on various chinese keyboards. Trying to get QMK working on it through ChibiOS

A list with some known keyboards using these chips can be found [here](https://github.com/SonixQMK/Mechanical-Keyboard-Database)

Alternatively, a dev board can be found [here](https://gwell.en.taiwantrade.com/product/starter-kit-32f248b-1982342.html)

While you can track our p

[2021-11-17 13:16] dexter93 opened #307 "Roadmap for ChibiOS-Contrib 21.11.x"
ChibiOS has released a stable 21.11.x branch. Is there a roadmap on a -Contrib version?

[2021-11-27 23:40] fpoussin commented on #307
Hi,
I need to finish updating the repo for 21.6.x first, then I'll make the change directly to 21.11.x as it's the latest stable.

[2021-11-28 07:06] tzarc commented on #307
Fair enough; Giovanni has mentioned that he's "cancelled" the 21.6 stream due to too many issues.

[2021-12-08 20:24] tzarc commented on #307
Just an FYI from ChibiOS Discord:
![image](https://user-images.githubusercontent.com/2985843/145279049-f35e2dbb-2837-4c32-a3f7-795d8be1960a.png)

[2021-12-31 06:55] zykrah commented on #307
@fpoussin Hi, are you still working on this? If not, do you have a list of what needs to be done for 21.11.x to be completed?

[2021-12-31 06:59] zykrah commented on #307
Also, i noticed that a lot of the changes regarding rp2040 were merged from @hanya. Though upon analysing the current state of the 21.6.x fork, a lot of the dependencies for the RP2040 are missing, as the rest of the MCUs in /testhal are still using ChibOS stable 20.3.x (as from the build.yml). hanya's fork looks like it uses the master branch (which i assume is 21.11.x) of chibios though?

EDIT:

[2022-01-01 13:52] zykrah commented on #307
Out of impatience, I have now actually just made a PR which has (supposedly) updated ChibiOS-Contrib to the ChibiOS master branch (21.11.x): https://github.com/ChibiOS/ChibiOS-Contrib/pull/310

[2022-02-01 01:31] rusefillc opened #313 "So many failing branches?"
As of today:

https://github.com/ChibiOS/ChibiOS-Contrib fails tests, no changes for a few months
https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x fails tests, no changes for a few months
https://github.com/ChibiOS/ChibiOS-Contrib/commits/chibios-21.6.x fails tests, no changes for a few months

Is build system broken or is not just not important?

[2022-02-01 19:27] zykrah commented on #313
It's falling due to a few reasons... See #310

[2022-02-01 19:29] rusefillc commented on #313
https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x is probably not caused by #310

[2022-02-01 20:08] zykrah commented on #313
That PR just addresses the issues in both 20.3.x and 21.6.x that stop them from passing CI, at the same time as updating them to support the latest ChibiOS.

[2022-02-01 20:10] rusefillc commented on #313
![image](https://user-images.githubusercontent.com/48498823/152043472-fce0392c-6cb2-4fcf-991b-8059b62f2a59.png)

https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x failing state would probably not be changed #310 since it's before target branch of #310?

[2022-02-06 18:52] fpoussin commented on #313
Failing branch can be caused by changed in the Chibios base code.
Seems like some RP2040 files were moved or removed.

As for 21.6.x, it's not been fixed, we'll move on to 21.11 directly.

[2022-02-06 22:14] rusefillc commented on #313
what has changed for https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x ? why is https://github.com/ChibiOS/ChibiOS-Contrib/tree/chibios-20.3.x no longer red?

[2022-02-06 22:22] #307 closed, assigned to fpoussin

[2022-02-06 22:24] fpoussin commented on #313
I've cleared some stall GH actions workflows

[2022-02-06 22:28] fpoussin commented on #313
all fixed now

[2022-02-06 22:28] #313 closed, assigned to nobody

[2022-02-07 19:08] #79 closed

[2022-04-06 01:03] Corallus-Caninus commented on #254
is this still in the works or finished? I haven't seen activity on the linked repository.

[2022-04-18 10:52] #225 closed, assigned to nobody

[2022-06-26 20:19] ryanm101 opened #326 "[Feature Request] CH579M chip support"
To enable https://github.com/qmk/qmk_firmware/issues/17477

Datasheet: [CH579M.pdf](https://github.com/qmk/qmk_firmware/files/8985300/CH579M.pdf)

[2022-07-02 14:08] seyahdoo opened #327 "Problem with Keychron K3V2 usb connection"
I was having issues with SonixQMK on my Keychron K3V2, when i plug the keyboard to my machine it was sometimes not working completely and i had to replug it several times to get it to work.

While I was investigating this, I found that commit ff551265b12de68f2943b7d4c4793a33c8626d35 has broken this keyboards usb behaviour. It is consistently working correctly on d5e4fb2517b47a6a507fb765d3c78ea46b8

[2022-07-10 18:19] seyahdoo commented on #327
I tried doing this once again and I could not reproduce this behaviour. I belive it was caused by something else. It still occurs on latest SonixQMK sn32_master (a46e96cdd01cffc32d369c9317808799166f1ace) though.

I worked around this problem with adding "EEPROM_RESET" keycode to my keymap, If the keyboard does not work when I plug it in, I just press "EEPROM_RESET" and it connects after that.

[2022-07-10 18:48] seyahdoo commented on #327
And then I worked around having to press Fn+Space everytime I plug in with adding `eeconfig_init();` on `keyboard_post_init_user`. Now it works everytime I plug in the keyboard.

[code]

[2022-08-08 15:26] josesimoes opened #330 "Problem using USB Host for MSD wit OTG2"
Hey,

I'm trying to migrate some code for USB Host on MSD connected to OTG2. This with a STM32F7.
This was working just fine in version 19.1.x (if I'm not mistaken).

I can see that a lot of code changes were made in recent versions. Also that the test code that exists is using OTG1.
Any pointers you can give me or "obvious places" to look at, so I can try to pin point the root cause?

Thanks!

[2022-09-27 17:32] FlamingCupcake opened #337 "[Feature Request] NUC126 Support"
Hey there :)
I've begun work on support for the [Nuvoton NUC126 family](https://www.nuvoton.com/products/microcontrollers/arm-cortex-m0-mcus/nuc126-usb-series).

I'm basing my work on the current NUC123 code.
Will update with a PR, hopefully in a few days.

[2022-11-03 23:31] fpoussin commented on #337
This looks great, thank you :)

[2022-11-16 06:38] ahmadcahyana commented on #326
is there any progress with this? I have the same board

[2022-11-25 08:35] dexter93 commented on #327
Hi there. Investigation is ongoing. It seems to be host USB controller related, depending on platform. Could you please report back on your system specs? And if it is still present with the latest commits? Thanks

[2022-11-25 10:11] seyahdoo commented on #327
Hello @dexter93, thanks for spending time on this issue. You can find my pc specs down below. If you need any additional information, please do ask here.

my specs are;
ASUS G14 GA401QM-HZ242T
AMD Ryzen 9 5900HS with Radeon Graphics
RTX 3060 (Laptop)

[2022-11-25 10:12] seyahdoo commented on #327
Also good to note:
https://seyahdoo.com/blog/qmk-on-keychron-k3v2/
https://github.com/seyahdoo/k3-v2-optical-qmk

[2022-11-25 10:30] dexter93 commented on #327
Looks to be consistent, affecting AMD hosts. The eeprom workaround is a new find, and might explain some things. Can you please try `#define NO_USB_STARTUP_CHECK` on the latest fork head (sn32_develop) and see if the behavior changes?

[2022-11-25 10:57] seyahdoo commented on #327
Now that i have looked at the code again, my latest firmware Im using on my keyboard is using `#define NO_USB_STARTUP_CHECK` and not using `eeconfig_init();`. I will recompile with latest sn32 develop now.

[2022-11-25 11:04] seyahdoo commented on #327
tried with latest sn32 develop, it does work with `#define NO_USB_STARTUP_CHECK` defined

[2022-11-25 11:12] seyahdoo commented on #327
tried with latest sn32 develop, and `#define NO_USB_STARTUP_CHECK` **not defined**, and it does not work 6/7 times when you plug in. When it didnt work on the first plug in, It did work after "EEPROM_RESET" keycode.

[2022-11-25 11:23] dexter93 commented on #327
Interesting results. Can you please also expand this test by adding this https://github.com/SonixQMK/ChibiOS-Contrib/pull/48 ?

[2022-11-25 12:46] seyahdoo commented on #327
[code]

trying only changing the /os/hal/ports/SN32/LLD/SN32F2xx/USB/hal_usb_lld.h file on sn32_master havent compiled. will try with that PRs commit now.

[2022-11-25 12:53] seyahdoo commented on #327
tried again in a different way and it did compile on sn32_master with only `/os/hal/ports/SN32/LLD/SN32F2xx/USB/hal_usb_lld.h` change now. But the issue persists, with this firmware it only worked `7/50` times on first plugging.

[2022-11-25 12:55] seyahdoo commented on #327
keep in mind that it also always works right after the flash, all the time, even with broken firmware.

[2022-11-25 13:24] dexter93 commented on #327
This PR needs rebasing to target `sn32_develop` and should be tested against that branch. The issue is known to affect only cold boot/usb replug conditions

[2022-11-25 13:36] seyahdoo commented on #327
ok, will checkout to sn32_develop and try there

[2022-11-25 13:54] seyahdoo commented on #327
copied keychron folder from sn32_master
checkout to sn32_develop
deleted all keyboards
pasted keychron folder
overriten keychron folder with my config
didnt compile

[code]

[2022-11-25 13:55] seyahdoo commented on #327
there is no k3 folder on sn32_develop

[2022-11-25 14:21] dexter93 commented on #327
qmk-side `sn32_develop` is mid refactoring and currently has no sn32 keyboards inherited. things in there are bleeding edge and quite a few stuff are still missing ( including optical support). Please hop on the discord server, debugging this through github will take ages

[2022-11-25 14:24] seyahdoo commented on #327
ok, im at the sonix keyboard discord voice channel. we can debug there for an hour if you like.